<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc" xmlns:mybatis="http://mybatis.org/schema/mybatis-spring"
	xmlns:jpa="http://www.springframework.org/schema/data/jpa" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
		http://mybatis.org/schema/mybatis-spring http://mybatis.org/schema/mybatis-spring.xsd">

	<tx:annotation-driven />

	<jdbc:embedded-database id="dataSource" type="H2">
		<jdbc:script location="classpath:db/h2-schema.sql" />
		<jdbc:script location="classpath:db/h2-data.sql" />
	</jdbc:embedded-database>

	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<!-- 不推荐在此配置typeAliasesPackage，MyBatipse会检测不到 -->
		<!-- <property name="typeAliasesPackage" value="me.joshua.demo4j.spring.mybatis.domain" 
			/> -->
		<property name="configLocation" value="classpath:mybatis/config.xml" />
		<!-- 用于存放公用的SQL Map片段 -->
		<property name="mapperLocations" value="classpath:mybatis/mapper/*.xml" />
	</bean>

	<mybatis:scan base-package="me.joshua.arsenal4j.spring.dal.mybatis.mapper" />
</beans>